body {
  background: #12192c;
  font-family: "Montserret",sans-serif;
  height: 100%;
}
.wrapper {
  width: 800px;
  margin: 30px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
h1{
  font-size: 50px;
}
#seconds, #tens{
  font-size:2em;
}

button{
  display: inline-block;
  border-radius: 20%;
  text-decoration:none;
  cursor:pointer;
  font-size: 20px;
  padding:11px 10px;
  width:80px;
  height: 50px;
  margin: 20px;
  outline: none;
  background: transparent;
  border: 3px solid #21D4FD;
}
h1,p,button{
  background-color: #21D4FD;
  background-image: linear-gradient(20deg, #21D4FD 0%, #B721FF 100%);   
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
